/* styles.css */
*{
  /*Colors*/
  --primary-color: #FFFFFF;
  --secondary-color: #FFFFFF;
  --card-color: #16151A;
  --accent-color: #00C2FF;
  --text-color: #fff;
  --background-color: #050407;

   /* sizes */
   --largeIcons: 6em;
   --title: 3.5em;
   --subtitle: 2.5em;
   --icons: 2.3em;
   --button:2.1em;
   --smalltitle: 1.5em;
   --quote: 1.2em;
   --body: 1em;

     /* weights */
  --bold: 700;
  --semi-bold: 600;
  --regular: 400;

  /* font-families */
  --Exo: "Exo 2", serif;
  --Inter: "Inter", sans-serif;
}


body {
    margin: 0;
    font-family:(var(--Exo));
    background-color: var(--background-color);
}

#home, #about{
  background-color: var(--background-color);
}
.navbar{
  font-size: var(--navigation);
  font-weight: var(--bold);
}
.profielfoto{
  width: 100%;
  height: auto;
}
#home h1{
  font-size: var(--title);
  font-weight: var(--regular);
}
#home a{
  text-decoration: none;
}
.button{
  color: var(--accent-color);
  text-transform: uppercase;
  font-size: var(--button);
  font-family: var(--Exo);
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}
.button:hover{
  cursor: pointer;
  color: var(--primary-color);
}
a.nav-link{
  color: var(--primary-color)!important;
}
a.nav-link-active{
  color: var(--accent-color);
}
a.nav-link:hover{
  color: var(--accent-color)!important;
}

/* about */
.box{
  background-color: var(--card-color);
  font-size: var(--body);
}
.cards{
  background-color: var(--card-color);
  font-size: var(--body);
}
.headtitle{
  font-size: var(--subtitle);
  font-weight: var(--regular);
  font-family: var(--Exo);
}
.headtitle span{
  color: var(--accent-color);
}
/* Image effect */
.image-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.image-container img {
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
  display: block;
}

/* Added: Scale & Shadow Effect on Hover */
.image-container:hover img {
  transform: scale(1); /* Slight zoom */
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3); /* Soft shadow */
}
.fa-brands{
  font-size: var(--largeIcons);
  color: var(--primary-color);
}
